.ticker {
  display: flex;
  align-items: center;

  
  @media (max-width: 576px) {
    margin-bottom: -8px;
  }

  * img {
    margin-right: 72px;
    max-height: 48px;
    max-width: 192px;
    object-fit: contain;

    @media (max-width: 576px) {
      max-width: 132px;
      max-height: 32px;
      margin-right: 40px;
      padding: 4px;
    }
  }
}
