.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.item {
  display: flex;
  padding-block: 32px;
  flex-direction: column;
  align-items: center;
  border-radius: 48px;
  background: #fff;
  width: 100%;
  max-width: 242px;
  gap: 20px;

  @media (max-width: 576px) {
    max-width: 148px;
    padding: 24px 8px;
    gap: 16px;
    border-radius: 32px;
  }

  svg {
    height: 32px;
    width: auto;

    @media (max-width: 576px) {
      height: 24px;
      width: auto;
    }
  }
}

.text {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -1px;
  width: min-content;

  @media (max-width: 576px) {
    font-size: 16px;
    letter-spacing: -0.6px;
  }
}
