.partnershipTypes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 48px;

  padding-block: 48px;
  border-radius: 76px;
  background: #fff;
  box-shadow: 0px 0px 64px 0px #00000014;

  @media (max-width: 576px) {
    padding-block: 32px;
    gap: 32px;
    border-radius: 48px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon svg {
  width: 76px;
  height: 76px;

  @media (max-width: 576px) {
    width: 48px;
    height: 48px;
  }
}

.title {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -1.3px;
  margin-block: 32px 16px;

  @media (max-width: 576px) {
    font-size: 20px;
    letter-spacing: -0.8px;
    margin-block: 16px 8px;
  }
}

.descr {
  color: #475569;
  text-align: center;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.4px;

  @media (max-width: 576px) {
    font-size: 14px;
  }
}

tr {
  border-top: 4px solid #f1f3f5;
  display: flex;
  align-items: center;
  width: 100%;

  &:last-of-type {
    border-bottom: 4px solid #f1f3f5;
  }

  @media (max-width: 576px) {
    border-top: 2px solid #f1f3f5;

    &:last-of-type {
      border-bottom: 2px solid #f1f3f5;
    }
  }
}

.row {
  padding: 20px 24px;
  justify-content: space-between;

  @media (max-width: 576px) {
    padding: 16px;
  }

  td {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.4px;
    max-width: 225px;
    line-height: 130%;

    display: flex;
    flex-wrap: wrap;
    gap: 2px;

    @media (max-width: 576px) {
      font-size: 14px;
      max-width: 146px;
    }

    span {
      color: #94a3b8;
    }
  }
}

.tableTitle {
  color: #0065ff;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  padding-block: 48px 32px;
  margin: 0 auto;

  @media (max-width: 576px) {
    padding-block: 32px 24px;
    font-size: 14px;
    letter-spacing: 1.7px;
  }
}

.button {
  width: 400px;
  margin: 0 auto;
  margin-top: auto;

  @media (max-width: 576px) {
    display: none;
  }
}
