.potential {
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  border-radius: 76px;
  background: #fff;
  box-shadow: 0px 0px 64px 0px #00000014;

  @media (max-width: 576px) {
    padding: 32px;
    gap: 24px;
    border-radius: 48px;
  }
}

.title {
  max-width: 630px;
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -1.3px;

  @media (max-width: 576px) {
    width: fit-content;
    color: #000;
    font-size: 20px;
    letter-spacing: -0.8px;
    max-width: 256px;
  }
}

.countryStat {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @media (max-width: 576px) {
    grid-template-columns: repeat(2, 124px);
    justify-content: center;
    gap: 16px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px;
  border-radius: 48px;
  background: #f1f3f5;

  @media (max-width: 576px) {
    gap: 16px;
    padding: 20px;
    border-radius: 32px;
  }

  img {
    width: 64px;
    height: 48px;

    @media (max-width: 576px) {
      width: 32px;
      height: 24px;
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #000;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -1px;

  @media (max-width: 576px) {
    font-size: 16px;
    letter-spacing: -0.6px;
  }

  span {
    color: #0065ff;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -1.3px;

    @media (max-width: 576px) {
      font-size: 20px;
      letter-spacing: -0.8px;
    }
  }
}
